<h1><%= t('contracts.index.title') %></h1>

<% if current_user.contracts_as_contractor.any? %>
  <h3><%= t('contracts.index.as_contractor')%></h3>

  <div class="row">
    <% current_user.contracts_as_contractor.each do |contract| %>
      <%= render 'contract_card_for_contractor', contract: contract %>
    <% end %>
  </div>
<% end %>

<% if current_user.contracts_as_guide.any? %>
  <h3><%= t('contracts.index.as_guide')%></h3>

  <div class="row">
    <% current_user.contracts_as_guide.each do |contract| %>
      <%= render 'contract_card_for_guide', contract: contract %>
    <% end %>
  </div>
<% end %>
