<h1><%= I18n.t('contracts.index.title') %></h1>

<h3><%= I18n.t('contracts.index.as_contractor')%></h3>

<div class="row">
  <% current_user.contracts_as_contractor.each do |contract| %>
    <div class="col-sm-12 col-md-6">
      <div class="card mb-4 box-shadow">
        <div class="card-body">
          <div class="card-text">

            <div class="row">
              <!--locale-->
              <div class="col-sm-6">
                <h6><%= I18n.t('contracts.index.locale') %></h6>
                <%= "#{ contract.guide.location.city }, #{ contract.guide.location.state }" %>
              </div>
              <!--dates-->
              <div class="col-sm-6">
                <h6><%= I18n.t('contracts.index.period') %></h6>
                <%= I18n.l(contract.start_date, format: "%d/%m/%y") %>
                &#8594;
                <%= I18n.l(contract.end_date, format: "%d/%m/%y") %>
              </div>
            </div>

            <!--guide-->
            <p>
              <h6><%= I18n.t('contracts.index.guide') %></h6>
              <%= link_to contract.guide.user.name, guide_path(contract.guide) %>
            </p>

            <!--goals-->
            <p>
              <h6><%= I18n.t('contracts.index.goals') %></h6>
              <%= contract.goals %>
            </p>

          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<h3><%= I18n.t('contracts.index.as_guide')%></h3>

<div class="row">
  <% current_user.contracts_as_guide.each do |contract| %>
    <div class="col-sm-12 col-md-6">
      <div class="card mb-4 box-shadow">
        <div class="card-body">
          <div class="card-text">

            <div class="row">
              <!--locale-->
              <div class="col-sm-6">
                <h6><%= I18n.t('contracts.index.price') %></h6>
                <%= contract.price %>
              </div>
              <!--dates-->
              <div class="col-sm-6">
                <h6><%= I18n.t('contracts.index.period') %></h6>
                <%= I18n.l(contract.start_date, format: "%d/%m/%y") %>
                &#8594;
                <%= I18n.l(contract.end_date, format: "%d/%m/%y") %>
              </div>
            </div>

            <!--contractor-->
            <p>
              <h6><%= I18n.t('contracts.index.contractor') %></h6>
              <%= contract.contractor.name %>
            </p>

            <!--goals-->
            <p>
              <h6><%= I18n.t('contracts.index.goals') %></h6>
              <%= contract.goals %>
            </p>

          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
