<div class="row">
  <legend><%= @title %></legend>
  <% @guides.each do | guide| %>
    <div class="col-md-4">
      <div class="card mb-4 box-shadow">

        <div class="card-img-top">
          <%= gravatar_for(guide.user) %>
        </div>

        <div class="card-body">
          <h4 class="card-title"> <%= guide.user.name %> </h4>
          <p class="card-text"><%= guide.bio %></p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <%= link_to guide_path(guide), class: "btn btn-primary" do %>
                <i class="fa fa-eye"></i><%= t('guides.see_profile') %>
              <% end %>
            </div>
          </div>
        </div>

      </div>
    </div>
  <% end %>
</div>
